@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Syncopate:wght@400;700&display=swap");
.header-part-home {
  width: 100%;
  background-image: url("../Assets/Image/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0000004f;
  background-blend-mode: darken;
  padding-bottom: 3rem;
  /* overflow-x: hidden; */
}

.text-stroke {
  -webkit-text-stroke: 0.1px #fca311; /* Adjust display type as needed */
}

.header-part {
  width: 100%;
  background-image: url("../Assets/headerImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}
.products-details-header-part {
  width: 100%;
  background-image: url("../Assets/products.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.details-header-content {
  position: absolute;
  right: 0;
  left: 0;
}

.font-kursive {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/*! ====================================== */
.checkout-form {
  width: 100%;
}

.checkout-form form h6 {
  font-size: 12px;
  font-weight: 500;
}

.checkout-form form .form-control {
  margin: 10px 0px;
  position: relative;
}

.checkout-form form .form-control label:not([for="checkout-checkbox"]) {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2px;
}

.checkout-form form .form-control input:not([type="checkbox"]) {
  width: 100%;
  padding: 10px 10px 10px 40px;
  outline: none;
  border-radius: 6px;
  border: 0.2px solid #4e515085;
  font-size: 12px;
  font-weight: 700;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.checkout-form form .form-control select {
  width: 100%;
  padding: 10px 10px 10px 40px;
  outline: none;
  border-radius: 6px;
  border: 0.2px solid #4e515085;
  font-size: 12px;
  font-weight: 700;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.checkout-form form .form-control input:not([type="checkbox"])::placeholder {
  font-size: 12px;
  font-weight: 500;
}

.checkout-form form .form-control label[for="checkout-checkbox"] {
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;
}

.checkout-form form .form-control > div {
  position: relative;
}

.checkout-form form .form-control > div span.fa {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(15px, -50%);
}

.checkout-form form .form-group {
  display: flex;
  column-gap: 25px;
}

.checkout-form form .checkbox-control {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* !====================================== */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======================================= */
#scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  z-index: 999;
  /*Initiallyhidethebutton*/
  border: none;
  background-color: #fca211f1;
  width: 40px;
  height: 40px;
  opacity: 0;
  color: #ffffff;
  transition: opacity 0.3s ease-in-out;
  border-radius: 999px;
  cursor: pointer;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
#scroll-btn.show {
  /* Add a new class for animation */
  opacity: 1;
}

/* Last Added  */
.btn-delete {
  background-color: rgb(255, 81, 81);
  text-align: center;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
