[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid rgb(182, 182, 182); */
  /* overflow: hidden; */
}

.tab:first-child {
  border-top-left-radius: 5px;
  border-right: none;
  border-bottom-left-radius: 5px;
}

.tab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tab {
  transition: all 0.5s ease;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(227, 227, 227);
  background-color: white;
  cursor: pointer;
  border-right: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.tab:last-child {
  border-right: 1px solid rgb(227, 227, 227);
}

.tab:hover,
.tab.active {
  transition: all 0.5s ease;
  color: #fca311;
  font-weight: 500;
  position: relative;
  border-color: #fca311;
  border-right: 1px solid #fca311;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.tab:hover.tab:last-child {
  border-right: 1px solid #fca311;
}
.tab:hover {
  transition: all 0.5s ease;
  border-right: none;
  color: #fca311;
  border-right: none;
  font-weight: 500;
  position: relative;
  border-color: #fca311;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.tab:hover::before,
.tab.active::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  transition: all 0.5s ease;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #fca311;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.tab:hover::after,
.tab.active::after {
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.tab-content table {
  width: 100%;
}

.tab-content th:first-child {
  border-right: 1px solid #ddd;
  width: 230px;
}
.tab-content th {
  border-top: #ddd 1px solid;
  border-left: none;
}
.tab-content tr:last-child {
  border-bottom: 1px solid #ddd;
}
.tab-content td {
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  text-align: left;
}
.tab-content tbody tr,
.tab-content tbody td,
.tab-content th {
  padding: 25px 10px;
  text-align: center !important;
  background-color: white;
}
